body {
  overflow-x: hidden;
}

header {
  background: url(../img/fondo.jpg) center center no-repeat fixed;
  min-height:100%;
  background-size:cover;
}

.blk3{
  background: rgb(108,180,168);
  background: linear-gradient(318deg, rgba(108,180,168,1) 0%, rgba(145,192,184,1) 100%);
}

nav ul li a:hover{
  background:darkcyan;
  border-radius: 12px;
}


